layout {
    focus-ring {
        off
        width 1.5
        active-color "#$[accent-color]"
        inactive-color "#$[bg-color]"
    }
    border {
        on
        width 1.5
        active-color "#$[accent-color]"
        inactive-color "#$[bg-color]"
        urgent-color "#$[accent-color]"
    }
}

